.setContentInline {
  display: inline-block;
  width: 68em;
  position: absolute;
  right: 0;
  z-index: -1;
  margin-top: 2.5em;
  margin-right: 1em;
  min-height: 100vh;
}

.contentbgColor {
  background-color: grey;
}
