.headerDiv {
  border-bottom: 3px solid darkblue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}

.inlineHeader {
  display: inline-block;
  margin: 1em;
  width: 30%;
  background-color: green;
}
