.setSideBarInline {
  display: inline-block;
  height: 80vh;
  width: 23em;
}

.sidebgColor {
  background-color: darkblue;
  color: white;
  margin-left: 1em;
}

.fixeSidebar {
  position: fixed;
  left: 0;
  margin-top: 2.5em;
}
